minimal_flow.txt
[{"id":"9aadf8d2.4af1d","type":"websocket in","z":"6ea0409b.2fea2","name":"mycroft-in","server":"f889f4d8.b516e8","client":"","x":100,"y":80,"wires":[["a4c15961.893778"]]},{"id":"1294e114.7f4097","type":"websocket out","z":"6ea0409b.2fea2","name":"mycroft-out","server":"f889f4d8.b516e8","client":"","x":730,"y":80,"wires":[]},{"id":"f5be2da8.d7dd88","type":"switch","z":"6ea0409b.2fea2","name":"intent","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":320,"wires":[["96b3f01d.06ffc8"],["f90129b4.ffa288"]]},{"id":"3bd8fe3c.85acf2","type":"link out","z":"6ea0409b.2fea2","name":"mycroft-in","links":["bf1a88d5.2389f"],"x":335,"y":80,"wires":[]},{"id":"dc93bf45.c834b8","type":"link in","z":"6ea0409b.2fea2","name":"mycroft-out","links":["6e264383.34f004","2e200218.f2fc7e","a344d92d.f25da8","cbd15d44.d82528"],"x":615,"y":80,"wires":[["1294e114.7f4097","bf155d2f.152ca8"]]},{"id":"bf1a88d5.2389f","type":"link in","z":"6ea0409b.2fea2","name":"","links":["3bd8fe3c.85acf2"],"x":55,"y":320,"wires":[["f5be2da8.d7dd88"]]},{"id":"a4c15961.893778","type":"switch","z":"6ea0409b.2fea2","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":80,"wires":[["3bd8fe3c.85acf2","ffc3fd59.9de318"],["3bd8fe3c.85acf2","ffc3fd59.9de318"]]},{"id":"ea9abb19.eb977","type":"comment","z":"6ea0409b.2fea2","name":"------------ Hey Mycroft \"echo\" ------------","info":".","x":410,"y":240,"wires":[]},{"id":"ffc3fd59.9de318","type":"debug","z":"6ea0409b.2fea2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":120,"wires":[]},{"id":"bf155d2f.152ca8","type":"debug","z":"6ea0409b.2fea2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":120,"wires":[]},{"id":"7eea83df.0add44","type":"template","z":"6ea0409b.2fea2","name":"activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.activate\", \"data\": {}, \"context\": {}}","output":"str","x":340,"y":600,"wires":[["a344d92d.f25da8"]]},{"id":"29f520c3.380c","type":"inject","z":"6ea0409b.2fea2","name":"Enable Converse","topic":"","payload":"make node red a priority","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":600,"wires":[["7eea83df.0add44"]]},{"id":"9b92b6c4.4bca68","type":"template","z":"6ea0409b.2fea2","name":"activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\": {}, \"context\": {}}","output":"str","x":340,"y":560,"wires":[["a344d92d.f25da8"]]},{"id":"d56490d1.dc9ce","type":"inject","z":"6ea0409b.2fea2","name":"Enable Fallback","topic":"","payload":"make node red fallback","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":560,"wires":[["9b92b6c4.4bca68"]]},{"id":"9afd9002.c2aad8","type":"comment","z":"6ea0409b.2fea2","name":"Node-Red Priority Settings","info":"Hey, Mycroft \"Make node red a priority\"\nIn converse mode, if Node-Red can not match an intent/utterance to a skill, the query is sent to Mycroft.\n    \n  The converse method is faster because the intents for your skills in Node-Red are scanned first.\n  \n  \nHey, Mycroft \"Make node red a fallback\"\nIn fallback mode, if Mycroft can not match an intent/utterance to a skill, the query is sent to Node-Red.\n\n  The fallback method is slower because Mycroft checks all installed skills/intents, if there is no match, then,\n  the intent is sent to Node-Red. ","x":150,"y":520,"wires":[]},{"id":"990611ba.e4d9e8","type":"comment","z":"6ea0409b.2fea2","name":"Messages from Mycroft","info":"Incoming JSON payloads from Mycroft (STT) to Node-Red\n\n\nIn converse mode, the intent/utterance is sent to Node-Red first, if\nNode-Red can not match an intent/utterance to a skill, the intent will\nsent to Mycroft.\n\n\n{\n    \"type\": \"node_red.converse\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}\n\n/////\n\nIn fallback mode, if Mycroft can not match an intent/utterance to a skill,\nthe intent will sent to Node-Red.\n\n\n{\n    \"type\": \"node_red.fallback\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\",\n        \"norm_utt\": \"echo\",\n        \"lang\": \"en-US\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}","x":420,"y":160,"wires":[]},{"id":"48945834.b98278","type":"comment","z":"6ea0409b.2fea2","name":"Messages to Mycroft","info":"Outgoing JSON payloads from Node-Red to to Mycroft (TTS)\n\n\nA Node-Red skill 'has matched' the intent/utterance to a skill,\nsend the answer to Mycroft.\n\n\t{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"<answer from skill>\"\n    },\n    \"context\": {}\n}\n\nA Node-Red skill 'could not match' the intent/utterance to a skill\npass the query Mycroft.\n\n{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"<text of origional utterance>\"\n    },\n    \"context\": {}\n}\n","x":700,"y":160,"wires":[]},{"id":"f90129b4.ffa288","type":"function","z":"6ea0409b.2fea2","name":"extract utterance","func":"var utterance = [JSON.parse(msg.payload)];\nreturn {payload:utterance[0].data.utterance};","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["7482acc2.7f52fc"]]},{"id":"7482acc2.7f52fc","type":"template","z":"6ea0409b.2fea2","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"{{payload}}\"\n    },\n    \"context\": {}\n}","output":"str","x":560,"y":380,"wires":[["cbd15d44.d82528"]]},{"id":"96b3f01d.06ffc8","type":"function","z":"6ea0409b.2fea2","name":"extract utterance","func":"var utterance = [JSON.parse(msg.payload)];\nreturn {payload:utterance[0].data.utterance};","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["f438a78d.a5b2f8"]]},{"id":"f438a78d.a5b2f8","type":"template","z":"6ea0409b.2fea2","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"{{payload}} from Node-Red\"\n    },\n    \"context\": {}\n}","output":"str","x":560,"y":280,"wires":[["cbd15d44.d82528"]]},{"id":"ac4b6498.bc6c1","type":"comment","z":"6ea0409b.2fea2","name":"No match for the intent, send to Mycroft.","info":"If there is no matching skill for the intent, send the utterance to Mycroft\nwith the node_red.intent_failure payload. For example, if you do not have time\nskill in Node-Red while in converse mode, the utterance will be passed to Mycroft instantly.\n\n{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"<utterance>\"\n    },\n    \"context\": {}\n}\n\nNOTE: Necessary for both converse and fallback modes. This allows Node-Red to\nrespond to any utterance. If node_red.intent_failure is not in your flows,\nthere is a 15 second timeout.\n\n","x":420,"y":340,"wires":[]},{"id":"a344d92d.f25da8","type":"link out","z":"6ea0409b.2fea2","name":"","links":["dc93bf45.c834b8"],"x":475,"y":600,"wires":[]},{"id":"cbd15d44.d82528","type":"link out","z":"6ea0409b.2fea2","name":"","links":["dc93bf45.c834b8"],"x":715,"y":380,"wires":[]},{"id":"f889f4d8.b516e8","type":"websocket-listener","z":"","path":"ws://nodered:unsafe@127.0.0.1:6789","wholemsg":"false"}]
