minimal_flow
[{"id":"25487ef3.c11a52","type":"websocket in","z":"8aadef39.8f6f4","name":"mycroft-in","server":"f889f4d8.b516e8","client":"","x":100,"y":60,"wires":[["5c223a79.6443c4"]]},{"id":"8adf717d.aa362","type":"websocket out","z":"8aadef39.8f6f4","name":"mycroft-out","server":"f889f4d8.b516e8","client":"","x":830,"y":60,"wires":[]},{"id":"e3a3a58f.7ae0a","type":"switch","z":"8aadef39.8f6f4","name":"match","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":240,"wires":[["d10a110.c4758f"],["cc91fc20.44e2d"]]},{"id":"18bd7125.9372c7","type":"link out","z":"8aadef39.8f6f4","name":"mycroft-in","links":["d63602ef.765bc"],"x":335,"y":60,"wires":[]},{"id":"7d41d58c.4d49e4","type":"link in","z":"8aadef39.8f6f4","name":"mycroft-out","links":["6e264383.34f004","2e200218.f2fc7e","a8d3a80b.ad2e7","9dbb8e3a.810a8","9a7cd7d4.ff8698"],"x":715,"y":60,"wires":[["8adf717d.aa362"]]},{"id":"d63602ef.765bc","type":"link in","z":"8aadef39.8f6f4","name":"","links":["18bd7125.9372c7"],"x":55,"y":240,"wires":[["d40e9397.c123f"]]},{"id":"5c223a79.6443c4","type":"switch","z":"8aadef39.8f6f4","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":60,"wires":[["18bd7125.9372c7"],["18bd7125.9372c7"]]},{"id":"4ca6ced.331f63","type":"template","z":"8aadef39.8f6f4","name":"activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.activate\", \"data\": {}, \"context\": {}}","output":"str","x":340,"y":620,"wires":[["a8d3a80b.ad2e7"]]},{"id":"9eb32581.345cd8","type":"inject","z":"8aadef39.8f6f4","name":"Enable Converse","topic":"","payload":"make node red a priority","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":620,"wires":[["4ca6ced.331f63"]]},{"id":"e3ddeda0.4de7f","type":"template","z":"8aadef39.8f6f4","name":"activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\": {}, \"context\": {}}","output":"str","x":340,"y":580,"wires":[["a8d3a80b.ad2e7"]]},{"id":"848196cd.8f0c68","type":"inject","z":"8aadef39.8f6f4","name":"Enable Fallback","topic":"","payload":"make node red fallback","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":580,"wires":[["e3ddeda0.4de7f"]]},{"id":"cfdb7deb.ea5768","type":"comment","z":"8aadef39.8f6f4","name":"Node-Red Priority Settings","info":"Hey, Mycroft \"Make node red a priority\"\nIn converse mode, if Node-Red can not match an intent/utterance to a skill, the query is sent to Mycroft.\n    \n  The converse method is faster because the intents for your skills in Node-Red are scanned first.\n  \n  \nHey, Mycroft \"Make node red a fallback\"\nIn fallback mode, if Mycroft can not match an intent/utterance to a skill, the query is sent to Node-Red.\n\n  The fallback method is slower because Mycroft checks all installed skills/intents, if there is no match, then,\n  the intent is sent to Node-Red. ","x":150,"y":540,"wires":[]},{"id":"cc91fc20.44e2d","type":"template","z":"8aadef39.8f6f4","name":"No match for the intent, send to Mycroft.","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"{{payload}}\"\n    },\n    \"context\": {}\n}","output":"str","x":560,"y":260,"wires":[["9dbb8e3a.810a8"]]},{"id":"d10a110.c4758f","type":"template","z":"8aadef39.8f6f4","name":"echo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"{{payload}} from Node-Red\"\n    },\n    \"context\": {}\n}","output":"str","x":450,"y":220,"wires":[["9dbb8e3a.810a8"]]},{"id":"a8d3a80b.ad2e7","type":"link out","z":"8aadef39.8f6f4","name":"","links":["7d41d58c.4d49e4","919e8969.cf8088"],"x":475,"y":620,"wires":[]},{"id":"9dbb8e3a.810a8","type":"link out","z":"8aadef39.8f6f4","name":"","links":["7d41d58c.4d49e4"],"x":755,"y":220,"wires":[]},{"id":"d40e9397.c123f","type":"function","z":"8aadef39.8f6f4","name":"extract intent","func":"var utterance = [JSON.parse(msg.payload)];\nreturn {payload:utterance[0].data.utterance.toLowerCase()};\n\n/*\n\nIncoming JSON payloads from Mycroft (STT) to Node-Red\n\n\nIn converse mode, the intent/utterance is sent to Node-Red first, if\nNode-Red can not match an intent/utterance to a skill, the intent will\nsent to Mycroft.\n\n\n{\n    \"type\": \"node_red.converse\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}\n\n/////\n\nIn fallback mode, if Mycroft can not match an intent/utterance to a skill,\nthe intent will sent to Node-Red.\n\n\n{\n    \"type\": \"node_red.fallback\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\",\n        \"norm_utt\": \"echo\",\n        \"lang\": \"en-US\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}\n\n*/","outputs":1,"noerr":0,"x":170,"y":240,"wires":[["e3a3a58f.7ae0a"]]},{"id":"f889f4d8.b516e8","type":"websocket-listener","z":"","path":"ws://nodered:unsafe@127.0.0.1:6789","wholemsg":"false"}]
