rivescript_bot_with_skills
[{"id":"a403fbb1.686f5","type":"websocket in","z":"6ea0409b.2fea2","name":"mycroft-in","server":"f889f4d8.b516e8","client":"","x":100,"y":60,"wires":[["404dd57e.b3053c"]]},{"id":"a1037bdd.5505e","type":"websocket out","z":"6ea0409b.2fea2","name":"mycroft-out","server":"f889f4d8.b516e8","client":"","x":830,"y":60,"wires":[]},{"id":"56cf6f82.3d796","type":"link out","z":"6ea0409b.2fea2","name":"mycroft-in","links":["7c4b00b1.cb765"],"x":335,"y":60,"wires":[]},{"id":"919e8969.cf8088","type":"link in","z":"6ea0409b.2fea2","name":"mycroft-out","links":["6e264383.34f004","2e200218.f2fc7e","a8d3a80b.ad2e7","6ebd5de9.1a3a8c","c85f9d4c.3a955","9a7cd7d4.ff8698","5be2cb3f.f5d8d4","9eb78587.f10868","37af360a.b1d672"],"x":715,"y":60,"wires":[["a1037bdd.5505e"]]},{"id":"7c4b00b1.cb765","type":"link in","z":"6ea0409b.2fea2","name":"","links":["56cf6f82.3d796"],"x":55,"y":160,"wires":[["8223049b.76e2e8"]]},{"id":"404dd57e.b3053c","type":"switch","z":"6ea0409b.2fea2","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":60,"wires":[["56cf6f82.3d796"],["56cf6f82.3d796"]]},{"id":"ee3da49b.16fec8","type":"template","z":"6ea0409b.2fea2","name":"intent_failure","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"{{payload}}\"\n    },\n    \"context\": {}\n}","output":"str","x":310,"y":320,"wires":[["5be2cb3f.f5d8d4"]]},{"id":"8223049b.76e2e8","type":"function","z":"6ea0409b.2fea2","name":"extract intent","func":"var utterance = [JSON.parse(msg.payload)];\nreturn {payload:utterance[0].data.utterance.toLowerCase()};\n\n/*\n\nIncoming JSON payloads from Mycroft (STT) to Node-Red\n\n\nIn converse mode, the intent/utterance is sent to Node-Red first, if\nNode-Red can not match an intent/utterance to a skill, the intent will\nsent to Mycroft.\n\n\n{\n    \"type\": \"node_red.converse\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}\n\n/////\n\nIn fallback mode, if Mycroft can not match an intent/utterance to a skill,\nthe intent will sent to Node-Red.\n\n\n{\n    \"type\": \"node_red.fallback\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\",\n        \"norm_utt\": \"echo\",\n        \"lang\": \"en-US\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}\n\n*/","outputs":1,"noerr":0,"x":170,"y":160,"wires":[["6abf2cee.2d1694"]]},{"id":"849297e1.aa6e18","type":"template","z":"6ea0409b.2fea2","name":"answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"{{{payload}}}\"\n    },\n    \"context\": {}\n}","output":"str","x":540,"y":140,"wires":[["c85f9d4c.3a955"]]},{"id":"6abf2cee.2d1694","type":"rive","z":"6ea0409b.2fea2","name":"","script":"! version = 2.0\n\n> begin\n\t+ request // This trigger is tested first.\n\t- {ok}    // An {ok} in the response means it's okay to get a real reply\n< begin\n\n// Substitutions\n! sub &quot;    = \"\n! sub &apos;    = '\n! sub &amp;     = &\n! sub &lt;      = <\n! sub &gt;      = >\n! sub +         = plus\n! sub -         = minus\n! sub /         = divided\n! sub *         = times\n! sub i'm       = i am\n! sub i'd       = i would\n! sub i've      = i have\n! sub i'll      = i will\n! sub don't     = do not\n! sub isn't     = is not\n! sub you'd     = you would\n! sub you're    = you are\n! sub you've    = you have\n! sub you'll    = you will\n! sub he'd      = he would\n! sub he's      = he is\n! sub he'll     = he will\n! sub she'd     = she would\n! sub she's     = she is\n! sub she'll    = she will\n! sub they'd    = they would\n! sub they're   = they are\n! sub they've   = they have\n! sub they'll   = they will\n! sub we'd      = we would\n! sub we're     = we are\n! sub we've     = we have\n! sub we'll     = we will\n! sub whats     = what is\n! sub what's    = what is\n! sub what're   = what are\n! sub what've   = what have\n! sub what'll   = what will\n! sub can't     = can not\n! sub whos      = who is\n! sub who's     = who is\n! sub who'd     = who would\n! sub who'll    = who will\n! sub don't     = do not\n! sub didn't    = did not\n! sub it's      = it is\n! sub could've  = could have\n! sub couldn't  = could not\n! sub should've = should have\n! sub shouldn't = should not\n! sub would've  = would have\n! sub wouldn't  = would not\n! sub when's    = when is\n! sub when're   = when are\n! sub when'd    = when did\n! sub y         = why\n! sub u         = you\n! sub ur        = your\n! sub r         = are\n! sub n         = and\n! sub im        = i am\n! sub wat       = what\n! sub wats      = what is\n! sub ohh       = oh\n! sub becuse    = because\n! sub becasue   = because\n! sub becuase   = because\n! sub practise  = practice\n! sub its a     = it is a\n! sub fav       = favorite\n! sub fave      = favorite\n! sub yesi      = yes i\n! sub yetit     = yet it\n! sub iam       = i am\n! sub welli     = well i\n! sub wellit    = well it\n! sub amfine    = am fine\n! sub aman      = am an\n! sub amon      = am on\n! sub amnot     = am not\n! sub realy     = really\n! sub iamusing  = i am using\n! sub amleaving = am leaving\n! sub yuo       = you\n! sub youre     = you are\n! sub didnt     = did not\n! sub ain't     = is not\n! sub aint      = is not\n! sub wanna     = want to\n! sub brb       = be right back\n! sub bbl       = be back later\n! sub gtg       = got to go\n! sub g2g       = got to go\n! sub lyl       = love you lots\n! sub gf        = girlfriend\n! sub g/f       = girlfriend\n! sub bf        = boyfriend\n! sub b/f       = boyfriend\n! sub b/f/f     = best friend forever\n! sub :-)       = smile\n! sub :)        = smile\n! sub :d        = grin\n! sub :-d       = grin\n! sub :-p       = tongue\n! sub :p        = tongue\n! sub ;-)       = wink\n! sub ;)        = wink\n! sub :-(       = sad\n! sub :(        = sad\n! sub :'(       = cry\n! sub :-[       = shy\n! sub :-\\       = uncertain\n! sub :-/       = uncertain\n! sub :-s       = uncertain\n! sub 8-)       = cool\n! sub 8)        = cool\n! sub :-*       = kissyface\n! sub :-!       = foot\n! sub o:-)      = angel\n! sub >:o       = angry\n! sub :@        = angry\n! sub 8o|       = angry\n! sub :$        = blush\n! sub :-$       = blush\n! sub :-[       = blush\n! sub :[        = bat\n! sub (a)       = angel\n! sub (h)       = cool\n! sub 8-|       = nerdy\n! sub |-)       = tired\n! sub +o(       = ill\n! sub *-)       = uncertain\n! sub ^o)       = raised eyebrow\n! sub (6)       = devil\n! sub (l)       = love\n! sub (u)       = broken heart\n! sub (k)       = kissyface\n! sub (f)       = rose\n! sub (w)       = wilted rose\n\n// Person substitutions\n! person i am    = you are\n! person you are = I am\n! person i'm     = you're\n! person you're  = I'm\n! person my      = your\n! person your    = my\n! person you     = I\n! person i       = you\n\n// Set arrays\n! array malenoun   = male guy boy dude boi man men gentleman gentlemen\n! array femalenoun = female girl chick woman women lady babe\n! array mennoun    = males guys boys dudes bois men gentlemen\n! array womennoun  = females girls chicks women ladies babes\n! array lol        = lol lmao rofl rotfl haha hahaha\n! array colors     = white black orange red blue green yellow cyan fuchsia gray grey brown turquoise pink purple gold silver navy\n! array height     = tall long wide thick\n! array measure    = inch in centimeter cm millimeter mm meter m inches centimeters millimeters meters\n! array yes        = yes yeah yep yup ya yea\n! array no         = no nah nope nay\n\n///// Your bot starts here\n+ you are a *\n- no you are a <star>\n\n+ up\n- down\n\n+ down\n- up\n\n+ left\n- right\n\n+ right\n- left","x":350,"y":160,"wires":[["849297e1.aa6e18"],["2956888d.789ba"]]},{"id":"c85f9d4c.3a955","type":"link out","z":"6ea0409b.2fea2","name":"","links":["f1360825.7a1eb8","919e8969.cf8088"],"x":675,"y":140,"wires":[]},{"id":"2956888d.789ba","type":"link out","z":"6ea0409b.2fea2","name":"bot intent failure","links":["80657cd1.fe65b"],"x":495,"y":180,"wires":[]},{"id":"80657cd1.fe65b","type":"link in","z":"6ea0409b.2fea2","name":"","links":["2956888d.789ba"],"x":55,"y":280,"wires":[["4bb20a42.f606f4"]]},{"id":"4bb20a42.f606f4","type":"switch","z":"6ea0409b.2fea2","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"intent1","vt":"str"},{"t":"cont","v":"intent2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":280,"wires":[["ff64cb8e.100ed"],["4d3a2414.f0c3d4"],["ee3da49b.16fec8"]]},{"id":"5be2cb3f.f5d8d4","type":"link out","z":"6ea0409b.2fea2","name":"","links":["f1360825.7a1eb8","919e8969.cf8088"],"x":675,"y":320,"wires":[]},{"id":"b3deeca4.2db078","type":"comment","z":"6ea0409b.2fea2","name":"skill 1","info":"","x":330,"y":240,"wires":[]},{"id":"724fa62f.192668","type":"comment","z":"6ea0409b.2fea2","name":"skill 2","info":"","x":330,"y":280,"wires":[]},{"id":"4d3a2414.f0c3d4","type":"link out","z":"6ea0409b.2fea2","name":"","links":[],"x":255,"y":280,"wires":[]},{"id":"ff64cb8e.100ed","type":"link out","z":"6ea0409b.2fea2","name":"","links":[],"x":255,"y":240,"wires":[]},{"id":"510e51f4.ac3b9","type":"link in","z":"6ea0409b.2fea2","name":"","links":[],"x":55,"y":440,"wires":[[]]},{"id":"5eb995d8.4558d4","type":"link in","z":"6ea0409b.2fea2","name":"","links":[],"x":55,"y":560,"wires":[[]]},{"id":"25cc9fe1.9ed988","type":"comment","z":"6ea0409b.2fea2","name":"skill 1","info":"","x":150,"y":440,"wires":[]},{"id":"1893beca.814ca1","type":"comment","z":"6ea0409b.2fea2","name":"skill 2","info":"","x":150,"y":560,"wires":[]},{"id":"9eb78587.f10868","type":"link out","z":"6ea0409b.2fea2","name":"","links":["f1360825.7a1eb8","919e8969.cf8088"],"x":675,"y":440,"wires":[]},{"id":"37af360a.b1d672","type":"link out","z":"6ea0409b.2fea2","name":"","links":["f1360825.7a1eb8","919e8969.cf8088"],"x":675,"y":560,"wires":[]},{"id":"9055570a.24518","type":"template","z":"6ea0409b.2fea2","name":"answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"{{{payload}}}\"\n    },\n    \"context\": {}\n}","output":"str","x":540,"y":440,"wires":[["9eb78587.f10868"]]},{"id":"b63f96d1.4b57","type":"template","z":"6ea0409b.2fea2","name":"answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"{{{payload}}}\"\n    },\n    \"context\": {}\n}","output":"str","x":540,"y":560,"wires":[["37af360a.b1d672"]]},{"id":"f889f4d8.b516e8","type":"websocket-listener","z":"","path":"ws://nodered:unsafe@127.0.0.1:6789","wholemsg":"false"}]
