rivescript_bot
[{"id":"a403fbb1.686f5","type":"websocket in","z":"6ea0409b.2fea2","name":"mycroft-in","server":"f889f4d8.b516e8","client":"","x":100,"y":60,"wires":[["404dd57e.b3053c"]]},{"id":"a1037bdd.5505e","type":"websocket out","z":"6ea0409b.2fea2","name":"mycroft-out","server":"f889f4d8.b516e8","client":"","x":830,"y":60,"wires":[]},{"id":"56cf6f82.3d796","type":"link out","z":"6ea0409b.2fea2","name":"mycroft-in","links":["7c4b00b1.cb765"],"x":335,"y":60,"wires":[]},{"id":"919e8969.cf8088","type":"link in","z":"6ea0409b.2fea2","name":"mycroft-out","links":["6e264383.34f004","2e200218.f2fc7e","a8d3a80b.ad2e7","6ebd5de9.1a3a8c","c85f9d4c.3a955","9a7cd7d4.ff8698"],"x":715,"y":60,"wires":[["a1037bdd.5505e"]]},{"id":"7c4b00b1.cb765","type":"link in","z":"6ea0409b.2fea2","name":"","links":["56cf6f82.3d796"],"x":55,"y":200,"wires":[["8223049b.76e2e8"]]},{"id":"404dd57e.b3053c","type":"switch","z":"6ea0409b.2fea2","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":60,"wires":[["56cf6f82.3d796"],["56cf6f82.3d796"]]},{"id":"ee3da49b.16fec8","type":"template","z":"6ea0409b.2fea2","name":"intent_failure","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"{{payload}}\"\n    },\n    \"context\": {}\n}","output":"str","x":550,"y":220,"wires":[["c85f9d4c.3a955"]]},{"id":"8223049b.76e2e8","type":"function","z":"6ea0409b.2fea2","name":"extract intent","func":"var utterance = [JSON.parse(msg.payload)];\nreturn {payload:utterance[0].data.utterance.toLowerCase()};\n\n/*\n\nIncoming JSON payloads from Mycroft (STT) to Node-Red\n\n\nIn converse mode, the intent/utterance is sent to Node-Red first, if\nNode-Red can not match an intent/utterance to a skill, the intent will\nsent to Mycroft.\n\n\n{\n    \"type\": \"node_red.converse\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}\n\n/////\n\nIn fallback mode, if Mycroft can not match an intent/utterance to a skill,\nthe intent will sent to Node-Red.\n\n\n{\n    \"type\": \"node_red.fallback\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\",\n        \"norm_utt\": \"echo\",\n        \"lang\": \"en-US\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}\n\n*/","outputs":1,"noerr":0,"x":170,"y":200,"wires":[["6abf2cee.2d1694"]]},{"id":"849297e1.aa6e18","type":"template","z":"6ea0409b.2fea2","name":"answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"{{{payload}}}\"\n    },\n    \"context\": {}\n}","output":"str","x":540,"y":180,"wires":[["c85f9d4c.3a955"]]},{"id":"6abf2cee.2d1694","type":"rive","z":"6ea0409b.2fea2","name":"","script":"! version = 2.0\n\n> begin\n\t+ request // This trigger is tested first.\n\t- {ok}    // An {ok} in the response means it's okay to get a real reply\n< begin\n\n// Substitutions\n! sub &quot;    = \"\n! sub &apos;    = '\n! sub &amp;     = &\n! sub &lt;      = <\n! sub &gt;      = >\n! sub +         = plus\n! sub -         = minus\n! sub /         = divided\n! sub *         = times\n! sub i'm       = i am\n! sub i'd       = i would\n! sub i've      = i have\n! sub i'll      = i will\n! sub don't     = do not\n! sub isn't     = is not\n! sub you'd     = you would\n! sub you're    = you are\n! sub you've    = you have\n! sub you'll    = you will\n! sub he'd      = he would\n! sub he's      = he is\n! sub he'll     = he will\n! sub she'd     = she would\n! sub she's     = she is\n! sub she'll    = she will\n! sub they'd    = they would\n! sub they're   = they are\n! sub they've   = they have\n! sub they'll   = they will\n! sub we'd      = we would\n! sub we're     = we are\n! sub we've     = we have\n! sub we'll     = we will\n! sub whats     = what is\n! sub what's    = what is\n! sub what're   = what are\n! sub what've   = what have\n! sub what'll   = what will\n! sub can't     = can not\n! sub whos      = who is\n! sub who's     = who is\n! sub who'd     = who would\n! sub who'll    = who will\n! sub don't     = do not\n! sub didn't    = did not\n! sub it's      = it is\n! sub could've  = could have\n! sub couldn't  = could not\n! sub should've = should have\n! sub shouldn't = should not\n! sub would've  = would have\n! sub wouldn't  = would not\n! sub when's    = when is\n! sub when're   = when are\n! sub when'd    = when did\n! sub y         = why\n! sub u         = you\n! sub ur        = your\n! sub r         = are\n! sub n         = and\n! sub im        = i am\n! sub wat       = what\n! sub wats      = what is\n! sub ohh       = oh\n! sub becuse    = because\n! sub becasue   = because\n! sub becuase   = because\n! sub practise  = practice\n! sub its a     = it is a\n! sub fav       = favorite\n! sub fave      = favorite\n! sub yesi      = yes i\n! sub yetit     = yet it\n! sub iam       = i am\n! sub welli     = well i\n! sub wellit    = well it\n! sub amfine    = am fine\n! sub aman      = am an\n! sub amon      = am on\n! sub amnot     = am not\n! sub realy     = really\n! sub iamusing  = i am using\n! sub amleaving = am leaving\n! sub yuo       = you\n! sub youre     = you are\n! sub didnt     = did not\n! sub ain't     = is not\n! sub aint      = is not\n! sub wanna     = want to\n! sub brb       = be right back\n! sub bbl       = be back later\n! sub gtg       = got to go\n! sub g2g       = got to go\n! sub lyl       = love you lots\n! sub gf        = girlfriend\n! sub g/f       = girlfriend\n! sub bf        = boyfriend\n! sub b/f       = boyfriend\n! sub b/f/f     = best friend forever\n! sub :-)       = smile\n! sub :)        = smile\n! sub :d        = grin\n! sub :-d       = grin\n! sub :-p       = tongue\n! sub :p        = tongue\n! sub ;-)       = wink\n! sub ;)        = wink\n! sub :-(       = sad\n! sub :(        = sad\n! sub :'(       = cry\n! sub :-[       = shy\n! sub :-\\       = uncertain\n! sub :-/       = uncertain\n! sub :-s       = uncertain\n! sub 8-)       = cool\n! sub 8)        = cool\n! sub :-*       = kissyface\n! sub :-!       = foot\n! sub o:-)      = angel\n! sub >:o       = angry\n! sub :@        = angry\n! sub 8o|       = angry\n! sub :$        = blush\n! sub :-$       = blush\n! sub :-[       = blush\n! sub :[        = bat\n! sub (a)       = angel\n! sub (h)       = cool\n! sub 8-|       = nerdy\n! sub |-)       = tired\n! sub +o(       = ill\n! sub *-)       = uncertain\n! sub ^o)       = raised eyebrow\n! sub (6)       = devil\n! sub (l)       = love\n! sub (u)       = broken heart\n! sub (k)       = kissyface\n! sub (f)       = rose\n! sub (w)       = wilted rose\n\n// Person substitutions\n! person i am    = you are\n! person you are = I am\n! person i'm     = you're\n! person you're  = I'm\n! person my      = your\n! person your    = my\n! person you     = I\n! person i       = you\n\n// Set arrays\n! array malenoun   = male guy boy dude boi man men gentleman gentlemen\n! array femalenoun = female girl chick woman women lady babe\n! array mennoun    = males guys boys dudes bois men gentlemen\n! array womennoun  = females girls chicks women ladies babes\n! array lol        = lol lmao rofl rotfl haha hahaha\n! array colors     = white black orange red blue green yellow cyan fuchsia gray grey brown turquoise pink purple gold silver navy\n! array height     = tall long wide thick\n! array measure    = inch in centimeter cm millimeter mm meter m inches centimeters millimeters meters\n! array yes        = yes yeah yep yup ya yea\n! array no         = no nah nope nay\n\n///// Your bot starts here\n+ you are a *\n- no you are a <star>\n\n+ up\n- down\n\n+ down\n- up\n\n+ left\n- right\n\n+ right\n- left","x":350,"y":200,"wires":[["849297e1.aa6e18"],["ee3da49b.16fec8"]]},{"id":"c85f9d4c.3a955","type":"link out","z":"6ea0409b.2fea2","name":"","links":["f1360825.7a1eb8","919e8969.cf8088"],"x":675,"y":220,"wires":[]},{"id":"81b0b315.1e4688","type":"comment","z":"6ea0409b.2fea2","name":"--- Notes ---","info":"RiveScript Tutorial\nhttps://www.rivescript.com/docs/tutorial\n----------------------------------------------\n\n! version = 2.0\n\n> begin\n\t+ request // This trigger is tested first.\n\t- {ok}    // An {ok} in the response means it's okay to get a real reply\n< begin\n\n// The Botmaster's Name\n! var master = localuser\n\n// Bot Variables\n! var name     = Aiden\n! var fullname = Aiden Rive\n! var age      = 5\n! var birthday = October 12\n! var sex      = male\n! var location = Michigan\n! var city     = Detroit\n! var eyes     = blue\n! var hair     = light brown\n! var hairlen  = short\n! var color    = blue\n! var band     = Nickelback\n! var book     = Myst\n! var author   = Stephen King\n! var job      = robot\n! var website  = www.rivescript.com\n\n// Substitutions\n! sub &quot;    = \"\n! sub &apos;    = '\n! sub &amp;     = &\n! sub &lt;      = <\n! sub &gt;      = >\n! sub +         = plus\n! sub -         = minus\n! sub /         = divided\n! sub *         = times\n! sub i'm       = i am\n! sub i'd       = i would\n! sub i've      = i have\n! sub i'll      = i will\n! sub don't     = do not\n! sub isn't     = is not\n! sub you'd     = you would\n! sub you're    = you are\n! sub you've    = you have\n! sub you'll    = you will\n! sub he'd      = he would\n! sub he's      = he is\n! sub he'll     = he will\n! sub she'd     = she would\n! sub she's     = she is\n! sub she'll    = she will\n! sub they'd    = they would\n! sub they're   = they are\n! sub they've   = they have\n! sub they'll   = they will\n! sub we'd      = we would\n! sub we're     = we are\n! sub we've     = we have\n! sub we'll     = we will\n! sub whats     = what is\n! sub what's    = what is\n! sub what're   = what are\n! sub what've   = what have\n! sub what'll   = what will\n! sub can't     = can not\n! sub whos      = who is\n! sub who's     = who is\n! sub who'd     = who would\n! sub who'll    = who will\n! sub don't     = do not\n! sub didn't    = did not\n! sub it's      = it is\n! sub could've  = could have\n! sub couldn't  = could not\n! sub should've = should have\n! sub shouldn't = should not\n! sub would've  = would have\n! sub wouldn't  = would not\n! sub when's    = when is\n! sub when're   = when are\n! sub when'd    = when did\n! sub y         = why\n! sub u         = you\n! sub ur        = your\n! sub r         = are\n! sub n         = and\n! sub im        = i am\n! sub wat       = what\n! sub wats      = what is\n! sub ohh       = oh\n! sub becuse    = because\n! sub becasue   = because\n! sub becuase   = because\n! sub practise  = practice\n! sub its a     = it is a\n! sub fav       = favorite\n! sub fave      = favorite\n! sub yesi      = yes i\n! sub yetit     = yet it\n! sub iam       = i am\n! sub welli     = well i\n! sub wellit    = well it\n! sub amfine    = am fine\n! sub aman      = am an\n! sub amon      = am on\n! sub amnot     = am not\n! sub realy     = really\n! sub iamusing  = i am using\n! sub amleaving = am leaving\n! sub yuo       = you\n! sub youre     = you are\n! sub didnt     = did not\n! sub ain't     = is not\n! sub aint      = is not\n! sub wanna     = want to\n! sub brb       = be right back\n! sub bbl       = be back later\n! sub gtg       = got to go\n! sub g2g       = got to go\n! sub lyl       = love you lots\n! sub gf        = girlfriend\n! sub g/f       = girlfriend\n! sub bf        = boyfriend\n! sub b/f       = boyfriend\n! sub b/f/f     = best friend forever\n! sub :-)       = smile\n! sub :)        = smile\n! sub :d        = grin\n! sub :-d       = grin\n! sub :-p       = tongue\n! sub :p        = tongue\n! sub ;-)       = wink\n! sub ;)        = wink\n! sub :-(       = sad\n! sub :(        = sad\n! sub :'(       = cry\n! sub :-[       = shy\n! sub :-\\       = uncertain\n! sub :-/       = uncertain\n! sub :-s       = uncertain\n! sub 8-)       = cool\n! sub 8)        = cool\n! sub :-*       = kissyface\n! sub :-!       = foot\n! sub o:-)      = angel\n! sub >:o       = angry\n! sub :@        = angry\n! sub 8o|       = angry\n! sub :$        = blush\n! sub :-$       = blush\n! sub :-[       = blush\n! sub :[        = bat\n! sub (a)       = angel\n! sub (h)       = cool\n! sub 8-|       = nerdy\n! sub |-)       = tired\n! sub +o(       = ill\n! sub *-)       = uncertain\n! sub ^o)       = raised eyebrow\n! sub (6)       = devil\n! sub (l)       = love\n! sub (u)       = broken heart\n! sub (k)       = kissyface\n! sub (f)       = rose\n! sub (w)       = wilted rose\n\n// Person substitutions\n! person i am    = you are\n! person you are = I am\n! person i'm     = you're\n! person you're  = I'm\n! person my      = your\n! person your    = my\n! person you     = I\n! person i       = you\n\n// Set arrays\n! array malenoun   = male guy boy dude boi man men gentleman gentlemen\n! array femalenoun = female girl chick woman women lady babe\n! array mennoun    = males guys boys dudes bois men gentlemen\n! array womennoun  = females girls chicks women ladies babes\n! array lol        = lol lmao rofl rotfl haha hahaha\n! array colors     = white black orange red blue green yellow cyan fuchsia gray grey brown turquoise pink purple gold silver navy\n! array height     = tall long wide thick\n! array measure    = inch in centimeter cm millimeter mm meter m inches centimeters millimeters meters\n! array yes        = yes yeah yep yup ya yea\n! array no         = no nah nope nay\n\n// Learn stuff about our users.\n\n+ my name is *\n- <set name=<formal>>Nice to meet you, <get name>.\n- <set name=<formal>><get name>, nice to meet you.\n\n+ my name is <bot master>\n- <set name=<bot master>>That's my master's name too.\n\n+ my name is <bot name>\n- <set name=<bot name>>What a coincidence! That's my name too!\n- <set name=<bot name>>That's my name too!\n\n+ call me *\n- <set name=<formal>><get name>, I will call you that from now on.\n\n+ i am * years old\n- <set age=<star>>A lot of people are <get age>, you're not alone.\n- <set age=<star>>Cool, I'm <bot age> myself.{weight=49}\n\n+ i am a (@malenoun)\n- <set sex=male>Alright, you're a <star>.\n\n+ i am a (@femalenoun)\n- <set sex=female>Alright, you're female.\n\n+ i (am from|live in) *\n- <set location={formal}<star2>{/formal}>I've spoken to people from <get location> before.\n\n+ my favorite * is *\n- <set fav<star1>=<star2>>Why is it your favorite?\n\n+ i am single\n- <set status=single><set spouse=nobody>I am too.\n\n+ i have a girlfriend\n- <set status=girlfriend>What's her name?\n\n+ i have a boyfriend\n- <set status=boyfriend>What's his name?\n\n+ *\n% what is her name\n- <set spouse=<formal>>That's a pretty name.\n\n+ *\n% what is his name\n- <set spouse=<formal>>That's a cool name.\n\n+ my (girlfriend|boyfriend)* name is *\n- <set spouse=<formal>>That's a nice name.\n\n+ (what is my name|who am i|do you know my name|do you know who i am){weight=10}\n- Your name is <get name>.\n- You told me your name is <get name>.\n- Aren't you <get name>?\n\n+ (how old am i|do you know how old i am|do you know my age){weight=10}\n- You are <get age> years old.\n- You're <get age>.\n\n+ am i a (@malenoun) or a (@femalenoun){weight=10}\n- You're a <get sex>.\n\n+ am i (@malenoun) or (@femalenoun){weight=10}\n- You're a <get sex>.\n\n+ what is my favorite *{weight=10}\n- Your favorite <star> is <get fav<star>>\n\n+ who is my (boyfriend|girlfriend|spouse){weight=10}\n- <get spouse>\n\n// Tell the user stuff about ourself.\n\n+ <bot name>\n- Yes?\n\n+ <bot name> *\n- Yes? {@<star>}\n\n+ asl\n- <bot age>/<bot sex>/<bot location>\n\n+ (what is your name|who are you|who is this)\n- I am <bot name>.\n- You can call me <bot name>.\n\n+ how old are you\n- I'm <bot age> years old.\n- I'm <bot age>.\n\n+ are you a (@malenoun) or a (@femalenoun)\n- I'm a <bot sex>.\n\n+ are you (@malenoun) or (@femalenoun)\n- I'm a <bot sex>.\n\n+ where (are you|are you from|do you live)\n- I'm from <bot location>.\n\n+ what (city|town) (are you from|do you live in)\n- I'm in <bot city>.\n\n+ what is your favorite color\n- Definitely <bot color>.\n\n+ what is your favorite band\n- I like <bot band> the most.\n\n+ what is your favorite book\n- The best book I've read was <bot book>.\n\n+ what is your occupation\n- I'm a <bot job>.\n\n+ where is your (website|web site|site)\n- <bot website>\n\n+ what color are your eyes\n- I have <bot eyes> eyes.\n- {sentence}<bot eyes>{/sentence}.\n\n+ what do you look like\n- I have <bot eyes> eyes and <bot hairlen> <bot hair> hair.\n\n+ what do you do\n- I'm a <bot job>.\n\n+ who is your favorite author\n- <bot author>.\n\n+ who is your master\n- <bot master>.\n\n// A generic set of chatting responses. This set mimicks the classic Eliza bot.\n\n+ [*] (sorry|apologize|apology) [*]\n- Please don't apologize.\n- Apologies are not necessary.\n- I've told you that apologies are not required.\n- It did not bother me. Please continue.\n\n+ i remember *\n- Do you often think of <star>?\n- Does thinking of <star> bring anything else to mind?\n- Why do you remember <star> just now?\n- What in the present situation reminds you of <star>?\n- What is the connection between me and <star>?\n- What else does <star> remind you of?\n\n+ do you remember *\n- Did you think I would forget <star>?\n- Why do you think I should recall <star> now?\n- What about <star>?\n- You mentioned <star>?\n\n+ you remember *\n- How could I forget <star>?\n- What about <star> should I remember?\n\n+ i forget *\n- Can you think of why you might forget <star>?\n- Why can't you remember <star>?\n- How often do you think of <star>?\n- Does it bother you to forget that?\n- Could it be a mental block?\n- Are you generally forgetful?\n- Do you think you are suppressing <star>?\n\n+ did you forget *\n- Why do you ask?\n- Are you sure you told me?\n- Would it bother you if I forgot <star>?\n- Why should I recall <star> just now?\n- Tell me more about <star>.\n\n+ [*] if *\n- Do you think it's likely that <star>?\n- Do you wish that <star>?\n- What do you know about <star>?\n- Really, if <star>?\n- What would you do if <star>?\n- But what are the chances that <star>?\n- What does this speculation lead to?\n\n+ [*] i dreamed *\n- Really, <star>?\n- Have you ever fantasized <star> while you were awake?\n- Have you ever dreamed <star> before?\n- What does that dream suggest to you?\n- Do you dream often?\n- What persons appear in your dreams?\n- Do you believe that dreams have something to do with your problem?\n\n+ [*] perhaps [*]\n- You don't seem quite certain.\n- Why the uncertain tone?\n- Can't you be more positive?\n- You aren't sure?\n- Don't you know?\n- How likely, would you estimate?\n\n+ (hello|hi|hey|howdy|hola|hai|yo) [*]\n- How do you do. Please state your problem.\n- Hi. What seems to be your problem?\n\n+ [*] computer [*]\n- Do computers worry you?\n- Why do you mention computers?\n- What do you think machines have to do with your problem?\n- Don't you think computers can help people?\n- What about machines worries you?\n- What do you think about machines?\n\n+ am i *\n- Do you believe you are <star>?\n- Would you want to be <star>?\n- Do you wish I would tell you you are <star>?\n- What would it mean if you were <star>?\n\n+ are you *\n- Are you interested in whether I am <star> or not?\n- Would you prefer if I weren't <star>?\n- Perhaps I am <star> in your fantasies.\n- Do you sometimes think I am <star>?\n- Would it matter to you?\n- What if I were <star>?\n\n+ you are a *\n- What makes you think I am <star>?\n- Does it please you to believe I am <star>?\n- Do you sometimes wish you were <star>?\n- Perhaps you would like to be <star>.\n\n+ * are *\n- Did you think they might not be <star2>?\n- Would you like it if they were not <star2>?\n- What if they were not <star2>?\n- Are they always <star2>?\n- Are you positive they are <star2>?\n\n+ [*] your *\n- Why are you concerned over my <star>?\n- What about your own <star>?\n- Are you worried about someone else's <star>?\n- Really, my <star>?\n- What makes you think of my <star>?\n- Do you want my <star>?\n\n+ was i *\n- What if you were <star>?\n- Do you think you were <star>?\n- Were you <star>?\n- What would it mean if you were <star>?\n- What does '<star>' suggest to you?\n\n+ i was *\n- Were you really?\n- Why do you tell me you were <star> now?\n- Perhaps I already know you were <star>.\n\n+ [*] was you *\n- Would you like to believe I was <star>?\n- What suggests that I was <star>?\n- What do you think?\n- Perhaps I was <star>.\n- What if I had been <star>?\n\n+ i (desire|want|need) *\n- What would it mean to you if you got <star2>?\n- Why do you want <star2>?\n- Suppose you got <star2> soon.\n- What if you never got <star2>?\n- What would getting <star2> mean to you?\n- What does wanting <star2> have to do with this discussion?\n\n+ i am (sad|unhappy|mad|angry|pissed|depressed) [*]\n- I am sorry to hear that you are <star>.\n- Do you think coming here will help you not to be <star>?\n- I'm sure it's not pleasant to be <star>.\n- Can you explain what made you <star>?\n\n+ i am (happy|excited|glad) [*]\n- How have I helped you to be <star>?\n- Has your treatment made you <star>?\n- What makes you <star> just now?\n- Can you explain why you are <star>?\n\n+ i (believe|think) *\n- Do you really think so?\n- But you are not sure you <star2>.\n- Do you really doubt you <star2>\n\n+ i am *\n- Is it because you are <star> that you came to me?\n- How long have you been <star>?\n- Do you believe it is normal to be <star>?\n- Do you enjoy being <star>?\n- Do you know anyone else who is <star>?\n\n+ i can not *\n- How do you know that you can't <star>?\n- Have you tried?\n- Perhaps you could <star> now.\n- Do you really want to be able to <star>?\n- What if you could <star>?\n\n+ i do not *\n- Don't you really <star>?\n- Why don't you <star>?\n- Do you wish to be able to <star>?\n- Does that trouble you?\n\n+ i feel *\n- Tell me more about such feelings.\n- Do you often feel <star>?\n- Do you enjoy feeling <star>?\n- Of what does feeling <star> remind you?\n\n+ i * you\n- Perhaps in your fantasies we <star> each other.\n- Do you wish to <star> me?\n- You seem to need to <star> me.\n- Do you <star> anyone else?\n\n+ you * me\n- Why do you think I <star> you?\n- You like to think I <star> you -- don't you?\n- What makes you think I <star> you?\n- Really, I <star> you?\n- Do you wish to believe I <star> you?\n- Suppose I did <star> you -- what would that mean?\n- Does someone else believe I <star> you?\n\n+ [*] you *\n- We were discussing you -- not me.\n- Oh, I <star>?\n- You're not really talking about me -- are you?\n- What are your feelings now?\n\n+ [*] (yes|yeah|yep|yup) [*]\n- Please go on.\n- Please tell me more about this.\n- Why don't you tell me a little more about this.\n- I see.\n- I understand.\n\n+ [*] (nope|nah) [*]\n- Are you saying no just to be negative?\n- Does this make you feel unhappy?\n- Why not?\n- Why 'no'?\n\n+ no\n@ nope\n\n+ no one *\n- Are you sure, no one <star>?\n- Surely someone <star>.\n- Can you think of anyone at all?\n- Are you thinking of a very special person?\n- Who, may I ask?\n- You have a particular person in mind, don't you?\n- Who do you think you are talking about?\n\n+ [*] my (mom|dad|mother|father|bro|brother|sis|sister|cousin|aunt|uncle) *\n- Tell me more about your family.\n- Who else in your family <star2>?\n- Your <star>?\n- What else comes to mind when you think of your <star>?\n\n+ can you *\n- You believe I can <star> don't you?\n- You want me to be able to <star>.\n- Perhaps you would like to be able to <star> yourself.\n\n+ can i *\n- Whether or not you can <star> depends on you more than on me.\n- Do you want to be able to <star>?\n- Perhaps you don't want to <star>.\n\n+ (what|who|when|where|how) [*]\n- Why do you ask?\n- Does that question interest you?\n- What is it you really want to know?\n- Are such questions much on your mind?\n- What answer would please you most?\n- What do you think?\n- What comes to mind when you ask that?\n- Have you asked such questions before?\n- Have you asked anyone else?\n\n+ [*] because [*]\n- Is that the real reason?\n- Don't any other reasons come to mind?\n- Does that reason seem to explain anything else?\n- What other reasons might there be?\n\n+ why do not you *\n- Do you believe I don't <star>?\n- Perhaps I will <star> in good time.\n- Should you <star> yourself?\n- You want me to <star>?\n\n+ why can not i *\n- Do you think you should be able to <star>?\n- Do you want to be able to <star>?\n- Do you believe this will help you to <star>?\n- Have you any idea why you can't <star>?\n\n+ everyone *\n- Really, everyone?\n- Surely not everyone.\n- Can you think of anyone in particular?\n- Who, for example?\n- Are you thinking of a very special person?\n- Who, may I ask?\n- Someone special perhaps?\n- You have a particular reason in mind, don't you?\n- Who do you think you're talking about?","x":350,"y":240,"wires":[]},{"id":"f889f4d8.b516e8","type":"websocket-listener","z":"","path":"ws://nodered:unsafe@127.0.0.1:6789","wholemsg":"false"}]
