sample_flow.txt
[{"id":"48254c2c.bfa35c","type":"websocket in","z":"4a66a60a.15d288","name":"mycroft-in","server":"cf70759c.ec4ac8","client":"","x":80,"y":160,"wires":[["5546c8bb.841fb8"]]},{"id":"28a4f905.ae38b6","type":"switch","z":"4a66a60a.15d288","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"node weather","vt":"str"},{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":450,"y":180,"wires":[["d5da0f5f.f4a8a"],["f76133f2.1c86a8"],["144b10fb.76aae7"],["6f3eec4d.c6420c"]]},{"id":"d5da0f5f.f4a8a","type":"http request","z":"4a66a60a.15d288","name":"http get news feed","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.theverge.com/rss/full.xml","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":140,"wires":[["2c4cfc4a.0cfe1c"]]},{"id":"2c4cfc4a.0cfe1c","type":"xml","z":"4a66a60a.15d288","name":"","property":"payload","attr":"","chr":"","x":850,"y":140,"wires":[["68319fe.fc13d6"]]},{"id":"68319fe.fc13d6","type":"function","z":"4a66a60a.15d288","name":"select data","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\nreturn [msg1, msg2];\n\n// attach a debug node to previous node to look at\n// news feed results","outputs":"1","noerr":0,"x":1030,"y":140,"wires":[["faaf0749.205418"]]},{"id":"faaf0749.205418","type":"template","z":"4a66a60a.15d288","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"The leading headline from The Verge, {{payload}}\"\n    },\n    \"context\": {}\n}","output":"str","x":1240,"y":140,"wires":[["b5494d35.d6bd9"]]},{"id":"f76133f2.1c86a8","type":"http request","z":"4a66a60a.15d288","name":"http get weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":180,"wires":[["a63142dd.11ca08"]]},{"id":"a63142dd.11ca08","type":"function","z":"4a66a60a.15d288","name":"select data","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg\n\n\n/* incoming payload to this node\n\n{\n    \"coord\": {\n        \"lon\": -110.9,\n        \"lat\": 32.3\n    },\n    \"weather\": [\n        {\n            \"id\": 800,\n            \"main\": \"Clear\",\n            \"description\": \"clear sky\",\n            \"icon\": \"01d\"\n        }\n    ],\n    \"base\": \"stations\",\n    \"main\": {\n        \"temp\": 98.31,\n        \"feels_like\": 94.05,\n        \"temp_min\": 98.01,\n        \"temp_max\": 99,\n        \"pressure\": 1015,\n        \"humidity\": 11\n    },\n    \"wind\": {\n        \"speed\": 1.99,\n        \"deg\": 337,\n        \"gust\": 5.01\n    },\n    \"clouds\": {\n        \"all\": 0\n    },\n    \"dt\": 1588193187,\n    \"sys\": {\n        \"type\": 3,\n        \"id\": 2007774,\n        \"country\": \"US\",\n        \"sunrise\": 1588163906,\n        \"sunset\": 1588212184\n    },\n    \"timezone\": -25200,\n    \"id\": 5288786,\n    \"name\": \"Catalina Foothills\",\n    \"cod\": 200\n}\n\n*/","outputs":"1","noerr":0,"x":950,"y":180,"wires":[["a868882c.0f0448"]]},{"id":"a868882c.0f0448","type":"template","z":"4a66a60a.15d288","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"Node-Red says the temperature is {{payload}}\"\n    },\n    \"context\": {}\n}","output":"str","x":1240,"y":180,"wires":[["b5494d35.d6bd9"]]},{"id":"b5494d35.d6bd9","type":"websocket out","z":"4a66a60a.15d288","name":"mycroft-out","server":"cf70759c.ec4ac8","client":"","x":1490,"y":240,"wires":[]},{"id":"66a47a42.80aa2c","type":"comment","z":"4a66a60a.15d288","name":"Query Mycroft skills","info":"Query Mycroft skills for futher processing.\n\nPayload to query Mycroft skills\n\n{\n    \"type\": \"node_red.query\",\n    \"data\": {\n        \"utterances\": [\n            \"{{payload}}\"\n        ]\n    },\n    \"context\": {\n        \"destination\": \"skills\"\n    }\n}\n\nResponse payload from Mycroft\n\n{\n    \"type\": \"speak\",\n    \"data\": {\n        \"utterance\": \"Currently five twenty three\",\n        \"expect_response\": false,\n        \"meta\": {\n            \"dialog\": \"time.current\",\n            \"data\": {\n                \"time\": \"five twenty three\"\n            },\n            \"skill\": \"TimeSkill\"\n        }\n    },\n    \"context\": {\n        \"destination\": \"tcp4:127.0.0.1:48946\",\n        \"source\": \"skills\",\n        \"platform\": \"NodeRedMindV0.1\",\n        \"client_name\": \"HiveMindV0.7\"\n    }\n}","x":330,"y":480,"wires":[]},{"id":"4e96c776.bd3a48","type":"template","z":"4a66a60a.15d288","name":"speak_broadcast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"{{payload}}\"\n    },\n    \"context\": {\n        \"destination\": \"audio\"\n    }\n}","output":"str","x":330,"y":600,"wires":[["27b1c948.967ba6"]]},{"id":"4b6acbb5.7496e4","type":"inject","z":"4a66a60a.15d288","name":"say hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":600,"wires":[["4e96c776.bd3a48"]]},{"id":"b002aabd.1ec16","type":"debug","z":"4a66a60a.15d288","name":"mycroft answers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":360,"wires":[]},{"id":"bc810d50.a0ab3","type":"inject","z":"4a66a60a.15d288","name":"what time is it","topic":"","payload":"what time is it","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":520,"wires":[["1e44f25b.224cee"]]},{"id":"99f215dd.875d98","type":"debug","z":"4a66a60a.15d288","name":"payload to mycroft","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1470,"y":320,"wires":[]},{"id":"f5c53a74.6dd0c","type":"template","z":"4a66a60a.15d288","name":"converse activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.converse.activate\",\n    \"data\": {},\n    \"context\": {}\n}","output":"str","x":330,"y":720,"wires":[["27b1c948.967ba6"]]},{"id":"8d0a4074.88d968","type":"inject","z":"4a66a60a.15d288","name":"enable converse","topic":"","payload":"node-red converse yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":720,"wires":[["f5c53a74.6dd0c"]]},{"id":"4fcdd354.0baf1c","type":"template","z":"4a66a60a.15d288","name":"converse deactivate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.converse.deactivate\",\n    \"data\": {},\n    \"context\": {}\n}","output":"str","x":320,"y":680,"wires":[["27b1c948.967ba6"]]},{"id":"5d26ca2.a06e934","type":"inject","z":"4a66a60a.15d288","name":"disable converse","topic":"","payload":"node-red converse no","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":680,"wires":[["4fcdd354.0baf1c"]]},{"id":"1dfb97bc.9745e","type":"debug","z":"4a66a60a.15d288","name":"converse in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":320,"wires":[]},{"id":"87331776.e1ba58","type":"template","z":"4a66a60a.15d288","name":"pong_broadcast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.pong\",\n    \"data\": {},\n    \"context\": {}\n}","output":"str","x":480,"y":80,"wires":[["5566989d.387e9"]],"icon":"font-awesome/fa-thumbs-up"},{"id":"5546c8bb.841fb8","type":"switch","z":"4a66a60a.15d288","name":"message_filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"node_red.ping","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"},{"t":"cont","v":"\"type\": \"speak\"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":260,"y":180,"wires":[["87331776.e1ba58"],["5cb9316.082a8d","28a4f905.ae38b6"],["1dfb97bc.9745e","28a4f905.ae38b6"],["b002aabd.1ec16"],["be4682e5.5e4898"]]},{"id":"1a0bce64.f2262a","type":"comment","z":"4a66a60a.15d288","name":"Test with \"ping node red\"","info":"Confirms that the mycroft-node-red skill is installed.\nNot dependent on flows/skills in Node-Red.","x":510,"y":40,"wires":[]},{"id":"a6f37198.cbe428","type":"comment","z":"4a66a60a.15d288","name":"Broadcast an utterance (TTS will be executed)","info":"","x":240,"y":560,"wires":[]},{"id":"4fdd7f70.c533f","type":"comment","z":"4a66a60a.15d288","name":"Node-Red priority settings (converse on/off)","info":"","x":250,"y":640,"wires":[]},{"id":"be4682e5.5e4898","type":"debug","z":"4a66a60a.15d288","name":"other mycroft messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":400,"wires":[]},{"id":"39744a31.53efde","type":"comment","z":"4a66a60a.15d288","name":"No match for the intent, send to Mycroft.","info":"If there is no matching skill for the intent, send the utterance to Mycroft\nwith the node_red.intent_failure payload. For example, if you do not have time\nskill in Node-Red while in converse mode, the utterance will be passed to Mycroft\ninstantly.\n\n{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"<utterance>\"\n    },\n    \"context\": {}\n}\n\nNOTE: Necessary for both converse and fallback modes. This allows Node-Red to\nrespond to any utterance. If node_red.intent_failure is not in your flows,\nthere is a 15 second timeout.\n\n","x":960,"y":280,"wires":[]},{"id":"5cb9316.082a8d","type":"debug","z":"4a66a60a.15d288","name":"fallback in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":280,"wires":[]},{"id":"a48adeb7.310078","type":"link in","z":"4a66a60a.15d288","name":"mycroft-out","links":["27b1c948.967ba6","5566989d.387e9"],"x":1335,"y":320,"wires":[["b5494d35.d6bd9","99f215dd.875d98"]]},{"id":"27b1c948.967ba6","type":"link out","z":"4a66a60a.15d288","name":"","links":["a48adeb7.310078"],"x":515,"y":600,"wires":[]},{"id":"5566989d.387e9","type":"link out","z":"4a66a60a.15d288","name":"","links":["a48adeb7.310078"],"x":595,"y":80,"wires":[]},{"id":"7935716b.112ab8","type":"comment","z":"4a66a60a.15d288","name":"3 skills - say \"echo\", \"node weather\" or \"verge\" to test","info":"","x":880,"y":100,"wires":[]},{"id":"1e44f25b.224cee","type":"template","z":"4a66a60a.15d288","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.query\",\n    \"data\": {\n        \"utterances\": [\n            \"{{payload}}\"\n        ]\n    },\n    \"context\": {\n        \"destination\": \"skills\"\n    }\n}","output":"str","x":360,"y":520,"wires":[["27b1c948.967ba6"]]},{"id":"87611896.430a18","type":"comment","z":"4a66a60a.15d288","name":"Messages to Mycroft","info":"Outgoing JSON payloads from Node-Red to to Mycroft (TTS)\n\n\nA Node-Red skill 'has matched' the intent/utterance to a skill,\nsend the answer to Mycroft.\n\n\t{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"<answer from skill>\"\n    },\n    \"context\": {}\n}\n\nA Node-Red skill 'could not match' the intent/utterance to a skill\npass the query Mycroft.\n\n{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"<text of origional utterance>\"\n    },\n    \"context\": {}\n}\n","x":1480,"y":360,"wires":[]},{"id":"5b962137.5265f","type":"comment","z":"4a66a60a.15d288","name":"Messages from Mycroft","info":"Incoming JSON payloads from Mycroft (STT) to Node-Red\n\n\nIn converse mode, the intent/utterance is sent to Node-Red first, if\nNode-Red can not match an intent/utterance to a skill, the intent will\nsent to Mycroft.\n\n\n{\n    \"type\": \"node_red.converse\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}\n\n/////\n\nIn fallback mode, if Mycroft can not match an intent/utterance to a skill,\nthe intent will sent to Node-Red.\n\n\n{\n    \"type\": \"node_red.fallback\",\n    \"data\": {\n        \"utterance\": \"<text of utterance>\",\n        \"norm_utt\": \"echo\",\n        \"lang\": \"en-US\"\n    },\n    \"context\": {\n        \"client_name\": \"mycroft_listener\",\n        \"source\": \"audio\",\n        \"destination\": [\n            \"skills\"\n        ]\n    }\n}","x":240,"y":240,"wires":[]},{"id":"144b10fb.76aae7","type":"function","z":"4a66a60a.15d288","name":"extract utterance","func":"var utterance = [JSON.parse(msg.payload)];\nreturn {payload:utterance[0].data.utterance};","outputs":1,"noerr":0,"x":670,"y":220,"wires":[["2a00c84c.146ce"]]},{"id":"6f3eec4d.c6420c","type":"function","z":"4a66a60a.15d288","name":"extract utterance","func":"var utterance = [JSON.parse(msg.payload)];\nreturn {payload:utterance[0].data.utterance};","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["241fee3f.11cd5a"]]},{"id":"2a00c84c.146ce","type":"template","z":"4a66a60a.15d288","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.answer\",\n    \"data\": {\n        \"utterance\": \"{{payload}} from Node-Red\"\n    },\n    \"context\": {}\n}","output":"str","x":1240,"y":220,"wires":[["b5494d35.d6bd9"]]},{"id":"241fee3f.11cd5a","type":"template","z":"4a66a60a.15d288","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"type\": \"node_red.intent_failure\",\n    \"data\": {\n        \"utterance\": \"{{payload}}\"\n    },\n    \"context\": {}\n}","output":"str","x":1240,"y":280,"wires":[["b5494d35.d6bd9"]]},{"id":"cf70759c.ec4ac8","type":"websocket-listener","z":"","path":"ws://nodered:unsafe@127.0.0.1:6789","wholemsg":"false"}]
