sample_flow.txt
[{"id":"557091ee.89f918","type":"websocket in","z":"6df575c9.82083c","name":"mycroft-in","server":"2a549160.fb8576","client":"","x":80,"y":280,"wires":[["843d5de2.92b8d"]]},{"id":"d8505a7a.ffd0e","type":"switch","z":"6df575c9.82083c","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ping node","vt":"str"},{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":430,"y":280,"wires":[[],["9dcfff1c.2588b"],["4b501521.870ee4"],["40533c41.aa0154"],["f47dfbac.4e0ea"]]},{"id":"9dcfff1c.2588b","type":"http request","z":"6df575c9.82083c","name":"http get news feed","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.theverge.com/rss/full.xml","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":200,"wires":[["97c4fd6.f409e"]]},{"id":"97c4fd6.f409e","type":"xml","z":"6df575c9.82083c","name":"format data","property":"payload","attr":"","chr":"","x":850,"y":200,"wires":[["d762d4df.d79d28"]]},{"id":"d762d4df.d79d28","type":"function","z":"6df575c9.82083c","name":"select data","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\nreturn [msg1, msg2];\n\n// attach a debug node to previous node to look at\n// news feed results","outputs":"1","noerr":0,"x":1010,"y":200,"wires":[["b3533215.6e4c08"]]},{"id":"b3533215.6e4c08","type":"template","z":"6df575c9.82083c","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.answer\",\n\"data\": {\n\"utterance\": \"The leading headline from The Verge, {{payload}}\"\n},\n\"context\": {}\n}","output":"str","x":1220,"y":200,"wires":[["8c9c652b.77d1d"]]},{"id":"4b501521.870ee4","type":"http request","z":"6df575c9.82083c","name":"http get weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":240,"wires":[["a458c6e6.b5112"]]},{"id":"a458c6e6.b5112","type":"function","z":"6df575c9.82083c","name":"select data","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg\n\n\n/* incoming payload to this node\n\n{\n\"coord\": {\n\"lon\": -110.9,\n\"lat\": 32.3\n},\n\"weather\": [\n{\n\"id\": 800,\n\"main\": \"Clear\",\n\"description\": \"clear sky\",\n\"icon\": \"01d\"\n}\n],\n\"base\": \"stations\",\n\"main\": {\n\"temp\": 98.31,\n\"feels_like\": 94.05,\n\"temp_min\": 98.01,\n\"temp_max\": 99,\n\"pressure\": 1015,\n\"humidity\": 11\n},\n\"wind\": {\n\"speed\": 1.99,\n\"deg\": 337,\n\"gust\": 5.01\n},\n\"clouds\": {\n\"all\": 0\n},\n\"dt\": 1588193187,\n\"sys\": {\n\"type\": 3,\n\"id\": 2007774,\n\"country\": \"US\",\n\"sunrise\": 1588163906,\n\"sunset\": 1588212184\n},\n\"timezone\": -25200,\n\"id\": 5288786,\n\"name\": \"Catalina Foothills\",\n\"cod\": 200\n}\n\n*/","outputs":"1","noerr":0,"x":930,"y":240,"wires":[["a8bc7036.4dca8"]]},{"id":"a8bc7036.4dca8","type":"template","z":"6df575c9.82083c","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.answer\",\n\"data\": {\n\"utterance\": \"Node-Red says the temperature is {{payload}}\"\n},\n\"context\": {}\n}","output":"str","x":1220,"y":240,"wires":[["8c9c652b.77d1d"]]},{"id":"8c9c652b.77d1d","type":"websocket out","z":"6df575c9.82083c","name":"mycroft-out","server":"2a549160.fb8576","client":"","x":1470,"y":300,"wires":[]},{"id":"669ec309.ee294c","type":"comment","z":"6df575c9.82083c","name":"send node_red.query  to ask a question to mycroft","info":"","x":250,"y":640,"wires":[]},{"id":"2d2ee9f5.2c9816","type":"template","z":"6df575c9.82083c","name":"speak_broadcast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.answer\",\n\"data\": {\n\"utterance\": \"{{payload}}\"\n},\n\"context\": {\n\"destination\": \"audio\"\n}\n}","output":"str","x":350,"y":780,"wires":[["bc110a35.67c9b"]]},{"id":"3e29c822.eee458","type":"inject","z":"6df575c9.82083c","name":"say hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":780,"wires":[["2d2ee9f5.2c9816"]]},{"id":"ce35b1c.3416ed","type":"debug","z":"6df575c9.82083c","name":"mycroft answers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":500,"wires":[]},{"id":"9e2020b9.5e40a","type":"template","z":"6df575c9.82083c","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.query\",\n\"data\": {\n\"utterances\": [\n\"{{payload}}\"\n]\n},\n\"context\": {\n\"destination\": \"skills\"\n}\n}","output":"str","x":380,"y":680,"wires":[["bc110a35.67c9b"]]},{"id":"7f0add8.4052b24","type":"inject","z":"6df575c9.82083c","name":"query hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":680,"wires":[["9e2020b9.5e40a"]]},{"id":"3d98531f.50b36c","type":"debug","z":"6df575c9.82083c","name":"payload to mycroft","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":480,"wires":[]},{"id":"e4323a76.967a18","type":"template","z":"6df575c9.82083c","name":"converse activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.converse.activate\",\n\"data\": {},\n\"context\": {}\n}","output":"str","x":350,"y":920,"wires":[["bc110a35.67c9b"]]},{"id":"ea886bd0.8d0e28","type":"inject","z":"6df575c9.82083c","name":"enable converse","topic":"","payload":"node-red converse yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":920,"wires":[["e4323a76.967a18"]]},{"id":"4a890cfb.128fd4","type":"template","z":"6df575c9.82083c","name":"converse deactivate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.converse.deactivate\",\n\"data\": {},\n\"context\": {}\n}","output":"str","x":340,"y":880,"wires":[["bc110a35.67c9b"]]},{"id":"8b01d14e.8cbea8","type":"inject","z":"6df575c9.82083c","name":"disable converse","topic":"","payload":"node-red converse no","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":880,"wires":[["4a890cfb.128fd4"]]},{"id":"d6ed4b20.62c06","type":"debug","z":"6df575c9.82083c","name":"converse in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":460,"wires":[]},{"id":"b354c372.022508","type":"template","z":"6df575c9.82083c","name":"pong_broadcast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.pong\",\n\"data\": {},\n\"context\": {}\n}","output":"str","x":480,"y":120,"wires":[["c3a4dd4d.7be9c"]],"icon":"font-awesome/fa-thumbs-up"},{"id":"6d14ca22.1fb2f4","type":"comment","z":"6df575c9.82083c","name":"converse - check node-red for skills first","info":"","x":220,"y":460,"wires":[]},{"id":"3b6ffe0.dbcb482","type":"comment","z":"6df575c9.82083c","name":"fallback - if no skill match in mycroft check node red","info":"","x":190,"y":420,"wires":[]},{"id":"843d5de2.92b8d","type":"switch","z":"6df575c9.82083c","name":"message_filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"type\": \"node_red.ping\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"},{"t":"cont","v":"\"type\": \"speak\"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":260,"y":280,"wires":[["b354c372.022508"],["d8505a7a.ffd0e","5b7faed9.bc3d98"],["d8505a7a.ffd0e","d6ed4b20.62c06"],["ce35b1c.3416ed"],["d5d323d9.f99c08"]]},{"id":"8fceebed.f78ff","type":"comment","z":"6df575c9.82083c","name":"test if node red is connected","info":"","x":520,"y":80,"wires":[]},{"id":"fce46b63.1a502","type":"comment","z":"6df575c9.82083c","name":"broadcast an utterance (TTS will be executed)","info":"","x":260,"y":740,"wires":[]},{"id":"81c9e640.e8a588","type":"comment","z":"6df575c9.82083c","name":"node-red priority settings (converse on/off)","info":"","x":280,"y":840,"wires":[]},{"id":"d5d323d9.f99c08","type":"debug","z":"6df575c9.82083c","name":"other mycroft messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":540,"wires":[]},{"id":"3383ee06.4f29da","type":"comment","z":"6df575c9.82083c","name":"No skill or intent match in node-red, ask mycroft for the answer","info":"","x":890,"y":360,"wires":[]},{"id":"5b7faed9.bc3d98","type":"debug","z":"6df575c9.82083c","name":"fallback in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":420,"wires":[]},{"id":"b3d3827c.8dd9e8","type":"link in","z":"6df575c9.82083c","name":"mycroft-out","links":["bc110a35.67c9b","c3a4dd4d.7be9c"],"x":1275,"y":440,"wires":[["8c9c652b.77d1d","3d98531f.50b36c"]]},{"id":"bc110a35.67c9b","type":"link out","z":"6df575c9.82083c","name":"","links":["b3d3827c.8dd9e8"],"x":535,"y":780,"wires":[]},{"id":"c3a4dd4d.7be9c","type":"link out","z":"6df575c9.82083c","name":"","links":["b3d3827c.8dd9e8"],"x":655,"y":120,"wires":[]},{"id":"f47dfbac.4e0ea","type":"json","z":"6df575c9.82083c","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":360,"wires":[["37806403.59272c"]]},{"id":"37806403.59272c","type":"function","z":"6df575c9.82083c","name":"extract utterance","func":"var utterance = msg.payload.data.utterance;\n\nvar uout = {payload:'{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"'+ utterance +'\"}, \"context\":{}}'}\n\nreturn uout;\n\n\n/* incoming payload to this node\n\n{\n\"type\": \"node_red.converse\",\n\"data\": {\n\"utterance\": \"say 1\"\n},\n\"context\": {\n\"client_name\": \"mycroft_cli\",\n\"source\": \"debug_cli\",\n\"destination\": [\n\"skills\"\n]\n}\n}\n\n*/\n\n","outputs":1,"noerr":0,"x":1210,"y":360,"wires":[["8c9c652b.77d1d"]]},{"id":"40533c41.aa0154","type":"json","z":"6df575c9.82083c","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":280,"wires":[["90f1fa02.ab34b8"]]},{"id":"90f1fa02.ab34b8","type":"function","z":"6df575c9.82083c","name":"extract utterance","func":"var utterance = msg.payload.data.utterance;\n\nvar uout = {payload:'{\"type\": \"node_red.answer\", \"data\":{\"utterance\" : \"'+ utterance +'\"}, \"context\":{}}'}\n\nreturn uout;\n\n\n/* incoming payload to this node\n\n{\n\"type\": \"node_red.converse\",\n\"data\": {\n\"utterance\": \"echo\"\n},\n\"context\": {\n\"client_name\": \"mycroft_cli\",\n\"source\": \"debug_cli\",\n\"destination\": [\n\"skills\"\n]\n}\n}\n\n*/","outputs":1,"noerr":0,"x":1210,"y":280,"wires":[["8c9c652b.77d1d"]]},{"id":"450ae27c.bfa8ec","type":"comment","z":"6df575c9.82083c","name":"3 skills - say echo, weather or verge to test","info":"","x":190,"y":40,"wires":[]},{"id":"cc98d272.328b28","type":"comment","z":"6df575c9.82083c","name":" ------------------------------------------------------- skills -------------------------------------------------------","info":"","x":920,"y":160,"wires":[]},{"id":"2a549160.fb8576","type":"websocket-listener","z":"","path":"ws://nodered:unsafe@127.0.0.1:6789","wholemsg":"false"}]